

.avatar {
    max-height: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221,221,221);
}

textarea {
    resize: none;
    max-height: 100px;
    border-color: rgb(221,221,221);
}

.row-share {
    margin-bottom: 7px;
    margin-top: 7px;
}