<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Account']" icon="plus" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
  </div>

  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- START ROW -->
    <div class="row">
      <!-- NEW COL START -->
      <article class="col-sm-12 col-md-12 col-lg-6">
        <!-- Widget ID (each widget will need unique ID)-->
        <div sa-widget [editbutton]="false" [custombutton]="false" [fullscreenbutton]="false">
          <header>
            <h2>Create</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body no-padding">
              <form id="rmt-accounts-add" class="smart-form"
                    [saUiValidate]="validationOptions"
                    novalidate="novalidate" >
                <fieldset>
                    <section>
                      <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                        <input type="email" name="emailAddress" placeholder="Email Address" [(ngModel)]="username"/>
                        <b class="tooltip tooltip-bottom-right">Needed to verify the new account.</b>
                      </label>
                    </section>
                        
                  <section>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <input id="password" type="password" name="password" placeholder="Password" [(ngModel)]="password" autocomplete="new-password"/>
                      <b class="tooltip tooltip-bottom-right">Don't forget to set a password for the new account.</b> </label>
                  </section>
              
                  <section>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <input type="password" name="passwordConfirm" placeholder="Confirm Password" autocomplete="new-password"/>
                      <b class="tooltip tooltip-bottom-right">Confirm the password.</b> </label>
                  </section>
                </fieldset>
                <fieldset>
                  <section>
                    <p>Roles</p><hr/><br/>
                    <label class="checkbox">
                      <input type="checkbox" name="isAdministrator" [(ngModel)]="isAdministrator"/>
                      <i></i>Administrator</label>
                    <label class="checkbox">
                      <input type="checkbox" name="isCaptureTechnician" [(ngModel)]="isCaptureTechnician"/>
                      <i></i>Capture Technician</label>
                    <label class="checkbox">
                      <input type="checkbox" name="isContentTechnician" [(ngModel)]="isContentTechnician"/>
                      <i></i>Content Technician</label>
    
                  </section>
                </fieldset>
              </form>
              <footer class="widget-footer">
                  <div class="pull-right action-button-bar">
                    <div class="btn btn-default action-button" (click)="onSubmit()">
                      <div><i class="fa fa-save"></i></div>
                      <div>Save</div>
                    </div>
                    <div class="btn btn-default action-button" (click)="onClickCancel($event)">
                      <div><i class="fa fa-times"></i></div>
                      <div>Cancel</div>
                    </div>
                  </div>
              </footer>


            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>

