.rmt-account-details-roles {
    margin-left: 20px;
}

.widget-footer {
    padding: 14px 7px 14px 15px;
}

.row {
    margin-bottom: 6px;
}

label.checkbox > i {
    margin-right: 7px;
}

.rmt-associates-details-avatar {
    max-height: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221,221,221);
}