<div id="content">
        <div class="row">
          <sa-big-breadcrumbs [items]="[campaign.campaignName]" icon="table" class="col-xs-12 col-sm-6 col-md-6 col-lg-4"></sa-big-breadcrumbs>
        </div>
        <sa-widgets-grid>
          <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
               <div sa-widget [editbutton]="false" [fullscreenbutton]="false" color="blueDark">
                <header>
                  <h2>Index</h2>
                </header>
                  <div>
                    <div class="widget-body no-padding">
                      <div class="row" style="padding: 8px 12px">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="icon-addon">
                                    <input type="text" id="search" class="form-control"  [(ngModel)]="controls.filter"
                                        placeholder='Type to filter the table...'
                                        (keyup)='updateFilter($event)'>
                                    <label style="z-index: 22" for="search" class="fa fa-search" rel="tooltip" title="search"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <select class="pull-right form-control " style="width: 70px;" (ngModelChange)="updatePageSize($event)" [(ngModel)]="controls.pageSize">
                              <option>10</option>
                              <option>20</option>
                              <option>30</option>
                              <option>50</option>
                          </select>
                        </div>
                      </div>
                      <ngx-datatable
                        #table
                        class="table"
                        [rows]="rows"
                        [loadingIndicator]="loadingIndicator"
                        [columnMode]="'flex'"
                        [headerHeight]="40"
                        [footerHeight]="40"
                        [rowHeight]="'auto'"
                        [limit]="controls.pageSize"
                        [selected]="selected"
                        [selectionType]="'single'"
                        [selectAllRowsOnPage]="false"
                        (select)='onSelect($event)'
                        [cssClasses]= "{
                            sortAscending: 'fa fa-caret-up',
                            sortDescending: 'fa fa-caret-down',
                            pagerLeftArrow: 'fa fa-angle-left',
                            pagerRightArrow: 'fa fa-angle-right',
                            pagerPrevious: 'fa fa-angle-double-left',
                            pagerNext: 'fa fa-angle-double-right'
                          }"
                        [reorderable]="reorderable"
                        [messages]="{totalMessage: ' Records Total'}"
                        >
                        <ngx-datatable-column name="Name" prop="fullName" [flexGrow]="3">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                  </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Broker" prop="brokerageName" [flexGrow]="3">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                  </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="City" prop="city" [flexGrow]="3">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                  </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Rank" prop="rank" [flexGrow]="1">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                  </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Count" prop="countLtm" [flexGrow]="1">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    {{value}}
                                  </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Change" prop="countChangeLtm" [flexGrow]="1">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    {{value}}
                                  </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Volume" prop="volumeLtm" [flexGrow]="2">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value | currency}}
                                  </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Change" prop="volumeChangeLtm" [flexGrow]="2">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value | currency}}
                                  </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Cap" prop="capEnum" [flexGrow]="2">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <i class="fa fa-square{{ value < 1 ? '-o' : '' }}"></i>
                                    <i class="fa fa-square{{ value < 2 ? '-o' : '' }}"></i>
                                    <i class="fa fa-square{{ value < 3 ? '-o' : '' }}"></i>
                                  </ng-template>
                            </ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
               </div>
            </article>
          </div>
        </sa-widgets-grid>
      </div>
      
      